BODY {
	BACKGROUND: url(../Images/bg.gif) repeat-x 50% top
}
INPUT {
	FONT: 12px "宋体"; COLOR: #444
}
TEXTAREA {
	FONT: 12px "宋体"; COLOR: #444
}
DIV {
	FONT: 12px "宋体"; COLOR: #444
}
P {
	FONT-SIZE: 12px; COLOR: #555; LINE-HEIGHT: 20px; FONT-FAMILY: verdana
}
TABLE {
	FONT-SIZE: 12px; COLOR: #555; LINE-HEIGHT: 24px; FONT-FAMILY: verdana
}
TD {
	FONT-SIZE: 12px; COLOR: #555; LINE-HEIGHT: 24px; FONT-FAMILY: verdana
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
A {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f30; TEXT-DECORATION: none
}
.l {
	FLOAT: left
}
.r {
	FLOAT: right
}
.c {
	CLEAR: both
}
.pic {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid
}
.dis {
	DISPLAY: none
}
.undis {
	DISPLAY: block
}
.w {
	MARGIN: auto; OVERFLOW: hidden; WIDTH: 900px
}
.m10 {
	MARGIN: 10px
}
.mt10 {
	MARGIN-TOP: 10px
}
.mt20 {
	MARGIN-TOP: 20px
}
.mr10 {
	MARGIN-RIGHT: 10px
}
#head_text DIV {
	COLOR: #fff
}
#head_text B {
	COLOR: #ff0
}
#head_text SPAN {
	FONT: 14px Georgia; COLOR: #ff0
}
#head_text .l {
	LINE-HEIGHT: 28px
}
#head_text .r {
	COLOR: #b0ea32; LINE-HEIGHT: 30px
}
#head_text .r A {
	COLOR: #fff
}
#head_text .r A:hover {
	COLOR: #ff0
}
#head_text .r U {
	TEXT-DECORATION: none
}
#head_text .r U A {
	COLOR: #ff0
}
#head_text .r U A:hover {
	COLOR: #af0
}
#Search {
	MARGIN: 16px 0px 0px
}
#Search DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 280px; PADDING-TOP: 10px
}
#Search DT .l {
	MARGIN-TOP: -1px
}
#Search .input {
	BORDER-RIGHT: #90d101 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #90d101 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; BORDER-LEFT: #90d101 1px solid; COLOR: #999; LINE-HEIGHT: 30px; PADDING-TOP: 0px; BORDER-BOTTOM: #90d101 1px solid; HEIGHT: 30px
}
#Search .bnt {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../Images/Bnt_Search.gif) no-repeat; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 58px; COLOR: #fff; HEIGHT: 32px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
#Search A {
	COLOR: #999
}
#Search A:hover {
	COLOR: #f30
}
#Menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../Images/menu_bg.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 900px; LINE-HEIGHT: 40px; PADDING-TOP: 0px; HEIGHT: 40px
}
#Menu DT {
	TEXT-ALIGN: center
}
#Menu .l {
	MARGIN: 0px 35px 0px 0px
}
#Menu .left {
	FLOAT: left
}
.menu A {
	DISPLAY: block; FLOAT: left; FONT: 14px/40px Microsoft Yahei; WIDTH: 100px; COLOR: #fff
}
.menu A:hover {
	DISPLAY: block; BACKGROUND: url(../Images/menu_over.gif); FLOAT: left; FONT: 14px/40px Microsoft Yahei; WIDTH: 100px; COLOR: #fff
}
.menu_over A {
	DISPLAY: block; BACKGROUND: url(../Images/menu_over.gif); FLOAT: left; FONT: 14px/40px Microsoft Yahei; WIDTH: 100px; COLOR: #fff
}
.menu_over A:hover {
	DISPLAY: block; BACKGROUND: url(../Images/menu_over.gif); FLOAT: left; FONT: 14px/40px Microsoft Yahei; WIDTH: 100px; COLOR: #ff0
}
#Menu_f {
	BACKGROUND: url(../Images/menu_f_bg.gif) repeat-x 50% top
}
#Notice {
	BORDER-RIGHT: #a4d49c 1px solid; BORDER-TOP: #a4d49c 1px solid; BACKGROUND: url(../Images/Notice_bg.gif) repeat-x 50% top; BORDER-LEFT: #a4d49c 1px solid; WIDTH: 198px; BORDER-BOTTOM: #a4d49c 1px solid
}
#Notice .notice {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 14px; PADDING-TOP: 0px
}
#Notice .notice .title {
	FONT: bold 14px "宋体"
}
#Notice .notice DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: -10px 0px 0px; PADDING-TOP: 0px
}
#Notice .notice DL DT {
	BACKGROUND: url(../Images/dot.gif) repeat-x; LINE-HEIGHT: 30px; FONT-FAMILY: arial; HEIGHT: 30px
}
#Index_focus {
	WIDTH: 480px; HEIGHT: 220px
}
#FoucsPlay {
	MARGIN: 0px; WIDTH: 480px; HEIGHT: 220px
}
#FoucsPlay IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FILTER: progid:DXImageTransform.Microsoft.Slide(slidestyle=push,bands=1); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 480px; HEIGHT: 220px; BORDER-RIGHT-WIDTH: 0px
}
#Foucsimg_btn {
	FLOAT: right; MARGIN: -30px 0px 0px; _margin: -34px 0 0 0
}
#Foucsimg_btn A {
	MARGIN-TOP: 6px; DISPLAY: block; BACKGROUND: #0090ff; FLOAT: left; WIDTH: 33px; COLOR: #fff; LINE-HEIGHT: 23px; MARGIN-RIGHT: 1px; HEIGHT: 23px; TEXT-ALIGN: center
}
#Foucsimg_btn A:hover {
	BACKGROUND: #ff0; COLOR: #000
}
#Foucsimg_btn .btnOn {
	BACKGROUND: #ff0; COLOR: #000
}
#Download_Group {
	BORDER-RIGHT: #fdd9c7 1px solid; BORDER-TOP: #fdd9c7 1px solid; BACKGROUND: url(../Images/Download_bg.gif) repeat-x 50% top; BORDER-LEFT: #fdd9c7 1px solid; WIDTH: 198px; BORDER-BOTTOM: #fdd9c7 1px solid
}
#Download_Group .new {
	MARGIN: -14px 0px 0px 78px; POSITION: absolute
}
#Download_Group .download {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 14px; PADDING-TOP: 0px
}
#Download_Group .download .title {
	FONT: bold 14px "宋体"
}
#Download_Group .download DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: -10px 0px 0px; PADDING-TOP: 0px
}
#Download_Group .download DL DT {
	COLOR: #999; LINE-HEIGHT: 22px; FONT-FAMILY: arial; HEIGHT: 22px
}
#Download_Group .download DL DT SPAN {
	COLOR: #444
}
#Download_Group .download DL DT A {
	COLOR: #999
}
#Download_Group .download DL DT A:hover {
	COLOR: #f30
}
#QQGroup {
	BORDER-RIGHT: #b8dffd 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #b8dffd 1px solid; PADDING-LEFT: 53px; BACKGROUND: url(../Images/Qqgroup_bg.gif) no-repeat center 50%; PADDING-BOTTOM: 0px; BORDER-LEFT: #b8dffd 1px solid; WIDTH: 145px; COLOR: #00f; LINE-HEIGHT: 20px; PADDING-TOP: 5px; BORDER-BOTTOM: #b8dffd 1px solid; FONT-FAMILY: Georgia; HEIGHT: 46px
}
#QQGroup SPAN {
	COLOR: #f60
}
#QQGroup B {
	FONT-WEIGHT: normal; COLOR: #999
}
#left {
	WIDTH: 650px
}
#right {
	FLOAT: right; WIDTH: 238px
}
.Subject_Green {
	BORDER-RIGHT: #a4d49c 1px solid; BORDER-TOP: #a4d49c 0px solid; BACKGROUND: url(../Images/Subject_Green_Bg.gif) repeat-x 50% top; BORDER-LEFT: #a4d49c 1px solid; WIDTH: 100%; LINE-HEIGHT: 32px; BORDER-BOTTOM: #a4d49c 0px solid; HEIGHT: 32px
}
.Subject_Green DIV {
	LINE-HEIGHT: 32px; HEIGHT: 32px
}
.Subject_Green .Title {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../Images/Subject_Green_Title_Bg.gif) no-repeat; WIDTH: 100px; TEXT-ALIGN: center
}
.Subject_Green .r {
	COLOR: #c4c4c4; MARGIN-RIGHT: 10px
}
.Subject_Green .r A {
	COLOR: #666
}
.Subject_Green .r A:hover {
	COLOR: #f30
}
.Subject_Green_Border {
	BORDER-RIGHT: #a4d49c 1px solid; BORDER-TOP: #a4d49c 0px solid; OVERFLOW: hidden; BORDER-LEFT: #a4d49c 1px solid; WIDTH: 100%; COLOR: #999; BORDER-BOTTOM: #a4d49c 1px solid
}
.Subject_Green_Border H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px; FONT: 16px Microsoft Yahei; COLOR: #179002; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.Subject_Green_Border H3 A {
	COLOR: #179002
}
.Subject_Green_Border H3 A:hover {
	COLOR: #f30
}
.Subject_Green_Border .l {
	MARGIN: 10px; WIDTH: 300px; COLOR: #999; LINE-HEIGHT: 20px
}
.Subject_Green_Border .l H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 16px Microsoft Yahei; COLOR: #179002; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.Subject_Green_Border .l H3 A {
	COLOR: #179002
}
.Subject_Green_Border .l H3 A:hover {
	COLOR: #f30
}
.Subject_Green_Border .l DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; PADDING-TOP: 0px
}
.Subject_Green_Border .l DL DT {
	LINE-HEIGHT: 26px; FONT-FAMILY: arial; HEIGHT: 26px
}
.Subject_Green_Border .l DL DT SPAN {
	FLOAT: right; FONT-FAMILY: georgia
}
.Subject_Green_Border .l DL DT .red {
	COLOR: #f00
}
.Subject_Green_Border .r {
	MARGIN: 10px; WIDTH: 290px
}
.Subject_Green_Border .r .Title {
	FONT: 16px Microsoft Yahei
}
.Subject_Green_Border .r .Title SPAN {
	FLOAT: right; FONT: 12px/30px "宋体"; COLOR: #666
}
.Subject_Green_Border .r .Title SPAN A {
	COLOR: #666
}
.Subject_Green_Border .r .Title SPAN A:hover {
	COLOR: #f30
}
.Subject_Green_Border .r DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 8px 0px 0px; COLOR: #999; PADDING-TOP: 0px
}
.Subject_Green_Border .r DL DT {
	LINE-HEIGHT: 26px; FONT-FAMILY: arial; HEIGHT: 26px
}
.Subject_Green_Border .r DL DT SPAN {
	FLOAT: right; FONT-FAMILY: georgia
}
.Subject_Green_Border .r DL DT .red {
	COLOR: #f00
}
.Subject_Green_Border .Website_nice {
	MARGIN: 14px 15px 17px; WIDTH: 640px; _margin: 0 15px 0 22px; _padding: 15px 0 0 0
}
.Subject_Green_Border .Website_nice DT {
	FLOAT: left; WIDTH: 210px
}
.Subject_Green_Border .Website_nice DT A IMG {
	BORDER-RIGHT: #dbdbdb 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #dbdbdb 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #dbdbdb 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #dbdbdb 1px solid
}
.Subject_Green_Border .Website_nice DT A:hover IMG {
	BORDER-RIGHT: #f90 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #f90 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #f90 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #f90 1px solid
}
.Subject_Green_Border .Website_nice DIV {
	MARGIN: 5px 0px 8px; WIDTH: 190px; TEXT-ALIGN: left; _margin: 8px 0
}
.Subject_Green_Border .Website_nice DIV SPAN {
	FLOAT: right; FONT: 10px/22px verdana; COLOR: #999
}
.Subject_Bg {
	BORDER-RIGHT: #a4d49c 1px solid; BACKGROUND: url(../Images/Subject_Bg.gif); BORDER-LEFT: #fff 1px solid; WIDTH: 100%; HEIGHT: 32px
}
.Subject_Bg .l {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 14px; WIDTH: 100px; LINE-HEIGHT: 32px; HEIGHT: 32px; TEXT-ALIGN: center
}
.Subject_Bg .r DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Subject_Bg .r DL DT {
	FLOAT: left
}
.Subject_Bg .r DL .submenu {
	DISPLAY: block; BACKGROUND: url(../Images/Subject_title_bg.gif) no-repeat left 50%; WIDTH: 78px; LINE-HEIGHT: 32px; HEIGHT: 32px; TEXT-ALIGN: center
}
.Subject_Bg .r DL .submenu A {
	COLOR: #666
}
.Subject_Bg .r DL .submenu A:hover {
	DISPLAY: block; BACKGROUND: url(../Images/Subject_title_bg_over.gif) no-repeat left 50%; WIDTH: 78px; COLOR: #207e11; LINE-HEIGHT: 32px; HEIGHT: 32px
}
.Subject_Bg .r DL .submenu_over {
	DISPLAY: block; BACKGROUND: url(../Images/Subject_title_bg_over.gif) no-repeat left 50%; WIDTH: 78px; COLOR: #207e11; LINE-HEIGHT: 32px; HEIGHT: 32px; TEXT-ALIGN: center
}
.Subject_Bg .r DL .submenu_over A {
	DISPLAY: block; BACKGROUND: url(../Images/Subject_title_bg_over.gif) no-repeat left 50%; WIDTH: 78px; COLOR: #207e11; LINE-HEIGHT: 32px; HEIGHT: 32px
}
.Subject_Border {
	BORDER-RIGHT: #a4d49c 1px solid; BORDER-TOP: #a4d49c 0px solid; OVERFLOW: hidden; BORDER-LEFT: #a4d49c 1px solid; WIDTH: 100%; BORDER-BOTTOM: #a4d49c 1px solid
}
.h140 {
	OVERFLOW: hidden; HEIGHT: 140px
}
.Subject_Border DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 15px 10px; PADDING-TOP: 0px
}
.Subject_Border DL DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 25%; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.Subject_Red {
	BORDER-RIGHT: #fdd9c7 1px solid; BORDER-TOP: #fdd9c7 0px solid; BACKGROUND: url(../Images/Subject_Red_Bg.gif) repeat-x 50% top; BORDER-LEFT: #fdd9c7 1px solid; WIDTH: 100%; LINE-HEIGHT: 32px; BORDER-BOTTOM: #fdd9c7 0px solid; HEIGHT: 32px
}
.Subject_Red DIV {
	LINE-HEIGHT: 32px; HEIGHT: 32px
}
.Subject_Red .Title {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../Images/Subject_Red_Title_Bg.gif) no-repeat; WIDTH: 100px; TEXT-ALIGN: center
}
.Subject_Red .r {
	COLOR: #c4c4c4; MARGIN-RIGHT: 10px
}
.Subject_Red .r A {
	COLOR: #666
}
.Subject_Red .r A:hover {
	COLOR: #f30
}
.Subject_Red_Border {
	BORDER-RIGHT: #fdd9c7 1px solid; BORDER-TOP: #fdd9c7 0px solid; OVERFLOW: hidden; BORDER-LEFT: #fdd9c7 1px solid; WIDTH: 100%; BORDER-BOTTOM: #fdd9c7 1px solid
}
.Subject_Red_Border .Website {
	MARGIN: 16px 16px 17px; OVERFLOW: hidden; HEIGHT: 433px; _margin: 0 10px 17px 14px; _padding: 16px 0 0 0
}
.Subject_Red_Border .Website DT {
	PADDING-BOTTOM: 1px; TEXT-ALIGN: center
}
.Subject_Red_Border .Website DT A IMG {
	BORDER-RIGHT: #dbdbdb 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #dbdbdb 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #dbdbdb 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #dbdbdb 1px solid
}
.Subject_Red_Border .Website DT A:hover IMG {
	BORDER-RIGHT: #f90 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #f90 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #f90 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #f90 1px solid
}
.Subject_Red_Border .Website DIV {
	MARGIN: 5px 0px 8px; TEXT-ALIGN: left; _margin: 8px 0
}
.Subject_Red_Border .Website DIV SPAN {
	FLOAT: right; FONT: 10px/22px verdana; COLOR: #999
}
.Server_buy {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 16px; PADDING-TOP: 0px; _margin: 0 16px 10px 16px; _padding: 5px 0 0 0
}
.Server_buy .Subject_Title {
	FONT: 16px Microsoft Yahei
}
.Server_buy .Subject_Title SPAN {
	COLOR: #f60
}
.Server_buy .content {
	LINE-HEIGHT: 24px
}
.Sub_Info {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 16px; PADDING-TOP: 0px; _margin: 0 16px 10px 16px; _padding: 5px 0 0 0
}
.Sub_Info DT {
	LINE-HEIGHT: 26px; FONT-FAMILY: arial; HEIGHT: 26px
}
.Sub_Info DT SPAN {
	FLOAT: right; COLOR: #999; FONT-FAMILY: georgia
}
.Sub_Info DT .red {
	COLOR: #f00
}
.Subject_Info {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 16px; PADDING-TOP: 0px; _margin: 0 16px 10px 16px; _padding: 5px 0 0 0
}
.Subject_Info DT {
	FLOAT: left; WIDTH: 50%; LINE-HEIGHT: 26px; FONT-FAMILY: arial; HEIGHT: 26px
}
.Subject_Info DT SPAN {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; COLOR: #999; PADDING-TOP: 0px; FONT-FAMILY: georgia
}
.Subject_Info DT .red {
	COLOR: #f00
}
.w320 {
	WIDTH: 320px; _width: 318px
}
.w320 .more {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; FONT: 12px/32px "宋体"; COLOR: #666; PADDING-TOP: 0px
}
.w320 .more A {
	COLOR: #666
}
.w320 .more A:hover {
	COLOR: #f30
}
.w320 DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px; PADDING-TOP: 0px
}
.w320 DL DT {
	LINE-HEIGHT: 26px; FONT-FAMILY: arial; HEIGHT: 26px
}
.w320 DL DT SPAN {
	FLOAT: right; COLOR: #999; FONT-FAMILY: georgia
}
.w320 DL DT .red {
	COLOR: #f00
}
#link {
	MARGIN: 10px auto auto
}
.a {
	OVERFLOW: hidden; WIDTH: auto
}
.link_logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
.link_logo DT {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.link_text {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px; WIDTH: 800px; PADDING-TOP: 0px
}
.link_text DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 100px; PADDING-TOP: 5px; TEXT-ALIGN: center
}
#foot DL {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 10px
}
#foot DL DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #999; PADDING-TOP: 10px; FONT-FAMILY: arial; TEXT-ALIGN: center
}
.Info_Title H1 {
	MARGIN: 10px; FONT: 17px Microsoft Yahei; COLOR: #179002; TEXT-ALIGN: center
}
.Info_Other {
	BORDER-RIGHT: #eaeaea 0px solid; BORDER-TOP: #eaeaea 1px solid; BORDER-LEFT: #eaeaea 0px solid; COLOR: #777; LINE-HEIGHT: 30px; BORDER-BOTTOM: #eaeaea 1px solid; TEXT-ALIGN: center
}
.Info_Content {
	MARGIN: 10px 16px 20px; LINE-HEIGHT: 23px
}
.Info_Content TABLE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.Info_Content TD {
	WORD-BREAK: break-all
}
.Info_Content TD * {
	COLOR: #222; LINE-HEIGHT: 23px
}
.Info_Next {
	MARGIN: 0px 0px 10px 16px; COLOR: #999
}
.Info_List {
	MARGIN: 16px
}
.Info_List_Title {
	FONT-SIZE: 14px
}
.Info_List_Content {
	MARGIN: 5px 0px 15px; COLOR: #999; WORD-BREAK: break-all; LINE-HEIGHT: 18px
}
.tag_title {
	FLOAT: left; MARGIN: 5px 0px; WIDTH: 20%; COLOR: #333
}
.content_page {
	MARGIN: 8px; TEXT-ALIGN: center
}
.content_page A {
	BORDER-RIGHT: #aecd9e 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #aecd9e 1px solid; PADDING-LEFT: 6px; BACKGROUND: #fff; PADDING-BOTTOM: 4px; MARGIN: 1px; BORDER-LEFT: #aecd9e 1px solid; COLOR: #a0a0a0; PADDING-TOP: 4px; BORDER-BOTTOM: #aecd9e 1px solid
}
.content_page SPAN {
	BORDER-RIGHT: #aecd9e 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #aecd9e 1px solid; PADDING-LEFT: 6px; BACKGROUND: #f7fdf4; PADDING-BOTTOM: 4px; MARGIN: 1px; BORDER-LEFT: #aecd9e 1px solid; COLOR: #f60; PADDING-TOP: 4px; BORDER-BOTTOM: #aecd9e 1px solid
}
.content_page INPUT {
	BORDER-RIGHT: #aecd9e 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #aecd9e 1px solid; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 1px; BORDER-LEFT: #aecd9e 1px solid; WIDTH: 30px; COLOR: #a0a0a0; LINE-HEIGHT: 22px; PADDING-TOP: 0px; BORDER-BOTTOM: #aecd9e 1px solid; POSITION: absolute; HEIGHT: 22px; TEXT-ALIGN: center
}
.content_page BUTTON {
	BORDER-RIGHT: #aecd9e 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #aecd9e 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 35px; BORDER-LEFT: #aecd9e 1px solid; WIDTH: 40px; COLOR: #a0a0a0; LINE-HEIGHT: 24px; PADDING-TOP: 0px; BORDER-BOTTOM: #aecd9e 1px solid; POSITION: absolute; HEIGHT: 24px; TEXT-ALIGN: center
}
.channel_div_jj {
	MARGIN: 0px 15px; COLOR: #999; TEXT-INDENT: 24px
}
.Quotetitle {
	BORDER-RIGHT: #fddcb8 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fddcb8 1px solid; PADDING-LEFT: 10px; BACKGROUND: #ffebd0; PADDING-BOTTOM: 2px; MARGIN: 10px 6px 0px 0px; FONT: bold 14px/24px "宋体"; BORDER-LEFT: #fddcb8 1px solid; COLOR: #f30; PADDING-TOP: 2px; BORDER-BOTTOM: #fddcb8 1px solid
}
.QuoteCode {
	BORDER-RIGHT: #fddcb8 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fddcb8 0px solid; PADDING-LEFT: 10px; BACKGROUND: #fff; PADDING-BOTTOM: 4px; MARGIN: 0px 6px 10px 0px; BORDER-LEFT: #fddcb8 1px solid; COLOR: #777; WORD-BREAK: break-all; PADDING-TOP: 4px; BORDER-BOTTOM: #fddcb8 1px solid
}
.RunCodes {
	CLEAR: both; MARGIN: 10px 0px 20px; HEIGHT: 180px
}
.RunCodes TEXTAREA {
	BORDER-RIGHT: #c3e8aa 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #c3e8aa 1px solid; OVERFLOW-Y: auto; PADDING-LEFT: 3px; OVERFLOW-X: hidden; PADDING-BOTTOM: 3px; BORDER-LEFT: #c3e8aa 1px solid; WIDTH: 98%; PADDING-TOP: 3px; BORDER-BOTTOM: #c3e8aa 1px solid; HEIGHT: 150px
}
.RunCodes INPUT {
	BORDER-RIGHT: #50b20e 1px solid; PADDING-RIGHT: 10px! important; BORDER-TOP: #50b20e 1px solid; PADDING-LEFT: 10px! important; FONT-SIZE: 12px; BACKGROUND: #50b20e; FLOAT: left; PADDING-BOTTOM: 0px! important; MARGIN: 1px 2px 0px 0px; BORDER-LEFT: #50b20e 1px solid; WIDTH: 80px; COLOR: #fff; PADDING-TOP: 5px! important; BORDER-BOTTOM: #50b20e 1px solid
}
.RunCodes SPAN {
	FONT-SIZE: 12px; FLOAT: left; MARGIN: 10px 0px 0px 5px; COLOR: #999; _margin: 0 0 0 5px
}
.plug_link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 14px; PADDING-TOP: 0px
}
.plug_link DT {
	FLOAT: left; MARGIN-BOTTOM: 10px; WIDTH: 20%; TEXT-ALIGN: center
}
#yzm_num {
	CURSOR: pointer
}
.hand {
	CURSOR: pointer
}
.plug_book_add {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 14px; PADDING-TOP: 0px; _margin: 0 14px; _padding: 14px 0
}
.plug_book_add DT {
	MARGIN: 6px 0px
}
.plug_book_add DT .input {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 20px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 20px
}
.plug_book_add DT .xheditor-mini {
	WIDTH: 150px; HEIGHT: 100px
}
.comment_title {
	BORDER-RIGHT: #cee5c2 1px solid; BORDER-TOP: #cee5c2 1px solid; PADDING-LEFT: 12px; BACKGROUND: url(../../2009/images/sdcms.gif) 0px -254px; MARGIN: 10px 10px 0px; BORDER-LEFT: #cee5c2 1px solid; COLOR: #4eb30f; LINE-HEIGHT: 29px; BORDER-BOTTOM: #cee5c2 0px solid; HEIGHT: 29px
}
.comment_title SPAN {
	COLOR: #999
}
.comment_title B {
	FONT-WEIGHT: normal; FLOAT: right; MARGIN-RIGHT: 10px
}
.comment_content {
	BORDER-RIGHT: #cee5c2 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #cee5c2 0px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; MARGIN: 0px 10px 10px; OVERFLOW: hidden; BORDER-LEFT: #cee5c2 1px solid; WORD-BREAK: break-all; PADDING-TOP: 6px; BORDER-BOTTOM: #cee5c2 1px solid
}
.comment_content IMG {
	MAX-WIDTH: 600px
}
#showmsg {
	COLOR: #f00
}
.comment_page {
	MARGIN-BOTTOM: 10px; TEXT-ALIGN: center
}
.comment_page A {
	BORDER-RIGHT: #aecd9e 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #aecd9e 1px solid; PADDING-LEFT: 6px; BACKGROUND: #fff; PADDING-BOTTOM: 4px; MARGIN: 0px 1px; BORDER-LEFT: #aecd9e 1px solid; COLOR: #a0a0a0; PADDING-TOP: 4px; BORDER-BOTTOM: #aecd9e 1px solid
}
.comment_page SPAN {
	BORDER-RIGHT: #aecd9e 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #aecd9e 1px solid; PADDING-LEFT: 6px; BACKGROUND: #f7fdf4; PADDING-BOTTOM: 4px; MARGIN: 0px 1px; BORDER-LEFT: #aecd9e 1px solid; COLOR: #f60; PADDING-TOP: 4px; BORDER-BOTTOM: #aecd9e 1px solid
}
.comment_page INPUT {
	BORDER-RIGHT: #aecd9e 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #aecd9e 1px solid; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #aecd9e 1px solid; WIDTH: 30px; COLOR: #a0a0a0; LINE-HEIGHT: 22px; PADDING-TOP: 0px; BORDER-BOTTOM: #aecd9e 1px solid; POSITION: absolute; HEIGHT: 22px; TEXT-ALIGN: center
}
.comment_page BUTTON {
	BORDER-RIGHT: #aecd9e 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #aecd9e 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 35px; BORDER-LEFT: #aecd9e 1px solid; WIDTH: 40px; COLOR: #a0a0a0; LINE-HEIGHT: 24px; PADDING-TOP: 0px; BORDER-BOTTOM: #aecd9e 1px solid; POSITION: absolute; HEIGHT: 24px; TEXT-ALIGN: center
}
.Products {
	MARGIN: 20px 30px
}
.Products TD {
	FONT-SIZE: 12px; LINE-HEIGHT: 23px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.Products TD SPAN {
	COLOR: #999; LINE-HEIGHT: 20px
}
.Products TD DIV {
	MARGIN-TOP: 6px
}
.Products H3 {
	MARGIN: 10px 0px 5px; FONT: 18px Microsoft Yahei; COLOR: #f30; TEXT-ALIGN: left
}
.Products DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; PADDING-TOP: 0px
}
.Products DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 16px; FONT: bold 14px "宋体"; COLOR: #333; PADDING-TOP: 0px
}
.Products DT SPAN {
	FONT: 12px "宋体"; COLOR: #999
}
.other_content {
	FONT: 13px/23px arial
}
.publich_website {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 30px; PADDING-TOP: 0px
}
.publich_website DT {
	COLOR: #999; LINE-HEIGHT: 35px; FONT-FAMILY: arial; _padding: 6px 0
}
.publich_website DT INPUT {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN: 0px 0px 0px 10px; BORDER-LEFT: #ccc 1px solid; WIDTH: 200px; COLOR: #555; LINE-HEIGHT: 22px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: arial; HEIGHT: 22px
}
.publich_website DT SELECT {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN: 0px 0px 0px 10px; BORDER-LEFT: #ccc 1px solid; WIDTH: 200px; COLOR: #333; LINE-HEIGHT: 22px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: arial; HEIGHT: 22px
}
.publich_website DT TEXTAREA {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN: 0px 0px 0px 70px; BORDER-LEFT: #ccc 1px solid; WIDTH: 500px; COLOR: #555; LINE-HEIGHT: 22px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: arial; HEIGHT: 110px
}
.publich_website DT .bnt {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: #25a501; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 5px 0px 0px 70px; WIDTH: 80px; COLOR: #fff; HEIGHT: 30px; BORDER-RIGHT-WIDTH: 0px
}
.publich_website DT SPAN {
	COLOR: #333
}
.publich_website #showmsg {
	BORDER-RIGHT: #fdd9c7 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fdd9c7 1px solid; DISPLAY: none; PADDING-LEFT: 10px; BACKGROUND: #fff7f0; PADDING-BOTTOM: 0px; MARGIN: 6px 0px 0px 10px; BORDER-LEFT: #fdd9c7 1px solid; WIDTH: 300px; LINE-HEIGHT: 28px; PADDING-TOP: 0px; BORDER-BOTTOM: #fdd9c7 1px solid; POSITION: absolute; HEIGHT: 28px
}
.publich_website_notice {
	MARGIN: 10px 14px; COLOR: #999; LINE-HEIGHT: 23px; FONT-FAMILY: arial; _margin: 0 14px; _padding: 10px 0
}
.publich_website_notice DT B {
	COLOR: #f60
}
.server_title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: #e9f4ff; COLOR: #23689c; TEXT-ALIGN: center
}
.server_sub_title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: #f9fdff
}
.price {
	COLOR: #f30
}
.blue {
	COLOR: #00f
}
.hui {
	COLOR: #999
}
#left_Menu {
	MARGIN: 0px 20px 0px 0px; OVERFLOW: hidden; WIDTH: 210px
}
.left_subject {
	DISPLAY: block; PADDING-LEFT: 30px; FONT-SIZE: 16px; BACKGROUND: url(../Images/Left_Subject.gif) no-repeat; WIDTH: 210px; COLOR: #fff; LINE-HEIGHT: 33px; FONT-FAMILY: Microsoft Yahei; HEIGHT: 33px
}
.Left_Sub_Bg {
	BACKGROUND: url(../Images/Left_Sub_Bg.gif) no-repeat 50% top
}
.Left_Sub_Bg .dl {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 11px; WIDTH: 199px; PADDING-TOP: 10px
}
.Left_Sub_Bg .dl DT {
	LINE-HEIGHT: 30px; HEIGHT: 30px
}
.Left_Sub_Bg .dl DT A:hover {
	DISPLAY: block; BACKGROUND: url(../Images/Left_menu_bg.gif) no-repeat; WIDTH: 199px; COLOR: #fff
}
.Left_Sub_Bg .dl .hover A {
	DISPLAY: block; BACKGROUND: url(../Images/Left_menu_bg.gif) no-repeat; WIDTH: 199px; COLOR: #fff
}
.Left_Sub_Bg .dl .hover A:hover {
	DISPLAY: block; BACKGROUND: url(../Images/Left_menu_bg.gif) no-repeat; WIDTH: 199px; COLOR: #ff0
}
.Left_Sub_Bg .qq {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 0px 11px; WIDTH: 199px; PADDING-TOP: 10px
}
.Left_Sub_Bg .qq DT {
	PADDING-LEFT: 30px; LINE-HEIGHT: 30px; HEIGHT: 30px
}
#Right_subject {
	FLOAT: right; OVERFLOW: hidden; WIDTH: 670px
}
.position_bg {
	FONT-SIZE: 16px; BACKGROUND: url(../Images/position_bg.gif) repeat-x; MARGIN: 0px 0px 20px; LINE-HEIGHT: 33px; FONT-FAMILY: Microsoft Yahei; HEIGHT: 33px
}
.server_content {
	LINE-HEIGHT: 23px
}
.subject {
	FONT: bold 14px "宋体"
}
.downurl {
	FONT-WEIGHT: bold; MARGIN: 10px 0px; COLOR: #24ab01
}
.downurl A {
	COLOR: #24ab01; TEXT-DECORATION: underline
}
.downurl A:hover {
	COLOR: #f30
}
.container {
	OVERFLOW: hidden; WIDTH: 480px; HEIGHT: 220px
}
.container IMG {
	OVERFLOW: hidden; WIDTH: 480px; HEIGHT: 220px
}
.container IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.num {
	RIGHT: 5px; BOTTOM: 5px; POSITION: absolute
}
.num LI {
	FONT-SIZE: 12px; FLOAT: left; MARGIN: 1px; WIDTH: 18px; CURSOR: pointer; COLOR: #fff; LINE-HEIGHT: 18px; FONT-FAMILY: Arial; LIST-STYLE-TYPE: none; HEIGHT: 18px; BACKGROUND-COLOR: #060a0b; TEXT-ALIGN: center
}
.num LI.on {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 18px; LINE-HEIGHT: 18px; HEIGHT: 18px; BACKGROUND-COLOR: #ce0609; BORDER-RIGHT-WIDTH: 0px
}
